  <div class="box">
  <h2>Profile information:</h2>
  <p>Name: <%= @user.first_name + ' ' + @user.last_name %></p>
  <p>Email: <%= @user.email %></p>


  <% if session[:user_id] == @user.id %>
    <form method="get" action="/users/<%= @user.id %>/edit">
      <button class="btn btn-default active">Edit Profile</button>
    </form>

    <form method="post" action="/logout">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-default active">Logout</button>
    </form>

    <%= link_to "Delete your account", user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger active' %>
  <% elsif current_user %>
    <%= link_to "Return to your profile.", user_path(@current_user) %>
  <% else %>
    <a href="/users/new">Sign in</a> to work with this person.
  <% end %>
</div>
