<% if current_user %>
  <h1>Projects</h1>
  <h3>Create a new project!</h3>
  <div class="new-project">
    <form method="post" action="/new_project">
      <input type="text" name="name">
      <input type="date" name="deadline">
      <button>Create Project</button>
    </form>
  </div>
  <% if @current_user.projects.length > 0 %>
    <% if @uncompleted.length > 0 %>
      <% @uncompleted.each do |job| %>
        <div class="active"><%= link_to job.name, project_path(job) %>
        <br>
        <div class="deadline"><%= job.deadline.to_formatted_s(:long) %></div>
        <div class="complete-project"><%= link_to 'Mark as done', project_complete_path(job), method: :post %></div>
        </div>
      <% end %>
    <% end %>
<br>
    <% if @completed.length > 0 %>
      <% @completed.each do |job| %>
        <div class="done"><%= link_to job.name, project_path(job) %>
        <br>Finished: <%= job.updated_at.to_date.to_formatted_s(:long) %></div>
      <% end %>
    <% end %>
  <% else %>
    <h3>You have no projects yet.</h3>
  <% end %>
  <p>Return to your profile <%= link_to 'here', user_path(@current_user) %>.</p>
<% else %>
  <h1>You must <%= link_to 'login', '/login' %> to see this page.</h1>
<% end %>

<style>
  div {
    font-size: 24px;
  }
  h3 {
    margin-bottom: 0px;
  }
</style>
