<% @project = Project.find_by(id: params[:id]) %>
<% if current_user %>
  <h1><%= @project.name %></h1>
  <h3>Create a new task!</h3>
  <div class="new-task">
    <form method="post" action="/projects/<%= @project.id %>/new_task">
      <input type="text" name="content" placeholder="What needs to be done">
      <input type="datetime" name="deadline" placeholder="ex: 3pm April 14, 2016">
      <button>Create Task</button>
    </form>
  </div>
  <% @project.tasks.each do |job| %>
    <% if job.completed %>
      <div class="done">
    <% else %>
      <div class="active">
    <% end %>
      <div class="task">
        <h4><%= job.content %></h4>
        <div class="deadline"><%= job.deadline %></div>
        <% job.posts.each do |message| %>
          <div class="post"><p><%= message.user.name %> posted:</p>
          <ul>
            <li><%= message.content %></li>
            <li><%= message.created_at.localtime.to_formatted_s(:long) %></li>
          </ul></div>
        <% end %>
        <div class="new-post post">
          <form method="post" action="/tasks/<%= job.id %>/new_post">
          <textarea rows="4" name="content"></textarea>
          <br>
          <button>Post</button>
        </div>
        <div class="remove-task"><%= link_to 'Delete task', task_remove_path(job), method: :delete, data: {confirm: "Are you sure?"} %></div>
      </div></div>
  <% end %>
  <h3>Team</h3>
  <ul>
  <% @project.members.each do |member| %>
      <li><%= member.name %></li>
  <% end %>
  </ul>
  <h3>Invite others</h3>
  <form method="post" action="/projects/<%= @project.id %>/invite">
    <input type="email" name="email">
    <button>Invite</button>
  </form>
  <%= link_to 'Project Index', '/projects' %>
  <%= link_to 'Leave project', project_remove_path(@project), method: :delete, data: {confirm: "Are you sure you want to leave this project? You won't be able to rejoin without an invitation. If you are the last person to leave this project, it will be deleted from the database."} %>
<% else %>
  <h1>You must <%= link_to 'login', '/login' %> to see this page.</h1>
<% end %>

<style>
  p {
    margin: 5px 10px;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    margin: 0 5px;
    text-align: center;
  }
</style>
