<% if current_user %>
  <h1><%= @project.name %></h1>
  <% @project.tasks.each do |job| %>
    <div class="task"><%= job.content %>
      <ul>
        <% job.posts.each do |message| %>
          <li><%= message.content %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= link_to 'Project Index', '/projects' %></p>
<% else %>
  <h1>You must <%= link_to 'login', '/login' %> to see this page.</h1>
<% end %>
